<video autoplay loop poster="../assets/stripper1.jpg" id="bgvid">
	<source src="../assets/background.webmhd.webm" type="video/webm">
	<source src="../assets/background.mp4" type="video/mp4">
</video>
<div class="text--color-1 text-center">
	<h1 class="hero-header"><b>NEED ENTERTAINMENT?</b></h1>
	<p class="hero-slogan">Find private dancers in your local area.</p>
</div>